
<div class="container">
  <h1> Basic demo of Stimulus Reflex actions using Rails 5.4 </h1>

  <div>
      <h3>  Click to reveal</h3>
        <p>
          <div data-reflex="click->WelcomeReflex#greetings">Click this sentence to test.</div>
          <br/>
          <%= @welcome_message %>
        </p>
        <hr/>
      <h3> Click to increment using element dataset </h3>
        <p>
          <div data-reflex='click->WelcomeReflex#increment'
              data-step="1"
              data-count="<%=@count.to_i %>" >
            Increment: <%= @count.to_i %>
          </div>
        </p>
        <hr/>
      <h3> User input display on screen </h3>
        <p>
          <h4> Enter your name: </h4>
          <input type="text" value="<%=@value%>" data-reflex="keyup->WelcomeReflex#say_hello">
          <h4> <%= @name %> </h4>
        </p>
        <hr/>
    </div>

    <div>
      <h2> Persisted data </h2>

      <h3> Session Persisted </h3>
      <hr/>
      <h3>Increment using element dataset and Stimulus controller </h3>
      <p>
        <div data-controller="example"
            data-action='click->example#increment'
            data-step="1"
            data-count="<%=@increment.to_i %>" >
          Increment from Stimulus: <%= @increment.to_i %>
        </div>
      </p>
  </div>
 

<!-- --------------------------------------- -->


    <h2>TESTING FORMS</h2>
    <%= form_with model: @student, url: "#", data: { controller: "validations", action: "submit->validations#reset" } do |f| %>
  <div class="input-text <%= validation_status @student, :first_name %>">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "input-text #{validation_status @student, :first_name}",
      data: { reflex: "debounced:input", reflex_permanent: true } %>
    <%= validation_message @student, :first_name %>
  </div>

  <div class="input-text <%= validation_status @student, :last_name %>">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "input-text",
      data: { reflex: "debounced:input", reflex_permanent: true } %>
    <%= validation_message @student, :last_name %>
  </div>

  <div class="input-text <%= validation_status @student, :email %>">
    <%= f.label :email %>
    <%= f.email_field :email, class: "input-text",
      data: { reflex: "debounced:input", reflex_permanent: true } %>
    <%= validation_message @student, :email %>
  </div>

  <div class="input-text">
    <%= f.submit @student.valid? ? "Submit" : "Awaiting valid input...",
      data: { target: "validations.submit", disable_with: "Great Job! Form will reset shortly..." } %>
    <a href="#" class="input-submit" data-action="click->validations#reset">Reset</a>
  </div>
<% end %>
</div>

