
<div class="container">
  <h1> Basic demo of Stimulus Reflex actions using Rails 5.3 </h1>

  <div>
      <h3>  Click to reveal</h3>
        <p>
          <div data-reflex="click->WelcomeReflex#greetings">Click this sentence to test.</div>
          <br/>
          <%= @welcome_message %>
        </p>
        <hr/>
      <h3> Click to increment using element dataset </h3>
        <p>
          <div data-reflex='click->WelcomeReflex#increment'
              data-step="1"
              data-count="<%=@count.to_i %>" >
            Increment: <%= @count.to_i %>
          </div>
        </p>
        <hr/>
      <h3> User input display on screen </h3>
        <p>
          <h4> Enter your name: </h4>
          <input type="text" value="<%=@value%>" data-reflex="keyup->WelcomeReflex#say_hello">
          <h4> <%= @name %> </h4>
        </p>
        <hr/>
    </div>

    <div>
      <h2> Persisted data </h2>

      <h3> Session Persisted </h3>
      <hr/>
      <h3>Increment using element dataset and Stimulus controller </h3>
      <p>
        <div data-controller="example"
            data-action='click->example#increment'
            data-step="1"
            data-count="<%=@increment.to_i %>" >
          Increment from Stimulus: <%= @increment.to_i %>
        </div>
      </p>

  </div>
</div>