
<div class="container">
  <h1> Basic demo of Stimulus Reflex actions using Rails 5.4 </h1>

  <div>
      <h3>  Click to reveal</h3>
        <p>
          <div data-reflex="click->WelcomeReflex#greetings">Click this sentence to test.</div>
          <br/>
          <%= @welcome_message %>
        </p>
        <hr/>
      <h3> Click to increment using element dataset </h3>
        <p>
          <div data-reflex='click->WelcomeReflex#increment'
              data-step="1"
              data-count="<%=@count.to_i %>" >
            Increment: <%= @count.to_i %>
          </div>
        </p>
        <hr/>
      <h3> User input display on screen </h3>
        <p>
          <h4> Enter your name: </h4>
          <input type="text" value="<%=@value%>" data-reflex="keyup->WelcomeReflex#say_hello">
          <h4> <%= @name %> </h4>
        </p>
        <hr/>
    </div>

    <div>
      <h2> Persisted data </h2>

      <h3> Session Persisted </h3>
      <hr/>
      <h3>Increment using element dataset and Stimulus controller </h3>
      <p>
        <div data-controller="example"
            data-action='click->example#increment'
            data-step="1"
            data-count="<%=@increment.to_i %>" >
          Increment from Stimulus: <%= @increment.to_i %>
        </div>
      </p>
  </div>
  <div>
    <h2> Tables </h2>
    <p> student count <%= @students.count %> </p>
    <table class ='student-table'>
      <tr>
        <th> first name </th>
        <th> Last name </th>
        <th> Email </th>
        <th> Number </th>
      </tr>
      <% @students.each do |student| %>
          <tr>
            <td><%= student[:first_name] %></td>
            <td><%= student[:last_name] %></td>
            <td><%= student[:email] %></td>
            <td><%= student[:number] %></td>
          </tr>
      <% end %>
    </table>
    <div class = 'student-form'>
      <%= form_with model: @student, url: save_student_path do |f| %>
        <%= f.label "first name:" %>
        <%= f.text_field :first_name %>
        <%= f.label "surname:" %>
        <%= f.text_field :last_name %>
        <%= f.label "email:" %>
        <%= f.text_field :email %>
        <%= f.label "phone number:" %>
        <%= f.text_field :number %>
        <%= f.submit %>
      <% end%>
    </div>
</div>
